# Config config-cli build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible



## Deploy CMD

docker run -d -e ODO_ENV=eu --cap-add=NET_ADMIN --sysctl net.ipv4.ip_forward=1 --device /dev/net/tun --restart=always --log-opt max-size=1g -e Secret={{ harmonyrp_docker_secret }} {{ harmonyrp_docker_image_name }}


