# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


## Checkpoint Portal Config

```YAML
harmony_tenant_name: {{ harmony_tenant_name }}
harmony_tenant_id: 
cloud_location: {{ cloud_location }}
docker_image: {{ harmonyrp_docker_image_name }}

```
